<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"

        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.PrimitivaGB"
        version     = "3.7.1"
        versionCode = "20" >

        <!-- versionCode is optional and Android only -->

        <preference name="phonegap-version" value="cli-5.2.0" />

        <name>PrimitivaGB</name>

        <description>Primitiva GB</description>

        <author href="http://www.google.es" email="jordi.gbaquero@gmail.com">
        Jordi Garcia-Baquero Lleixa
        </author>
	<gap:plugin name="org.apache.cordova.media" version="0.2.8" />
    </widget>
